.book {
  width: 150px;
  height: 285px;
  display: flex;
  flex-direction: column;
}

.book-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.book-info {
  flex: 1;
  padding: 9px;
  overflow: hidden;
}

.book-title {
  font-size: 1px;
  font-weight: bold;
  color: #333;
}

.book-info-author-year {
  font-size: 10px;
  color: #666;
}
