.button-container button {
  background: none;
  border: none;
  color: rgb(255, 111, 0); 
  padding: 10px 10px;
  cursor: pointer;
  font-size: 16px;
}

.button-container button:disabled {
  color: grey; 
  cursor: not-allowed;
}

.my-loans-text {
  text-align: left;
  color: black;
  font-weight: bold;
}
